<h1>お問い合わせ</h1>
<p>
  <strong>会社名:</strong>
  <%= @inquiry.company_name %>
</p>
<p>
  <strong>お名前:</strong>
  <%= @inquiry.client_name %>
</p>
<p>
  <strong>問い合わせ種別:</strong>
  <%= @inquiry.contact_type %>
</p>
<p>
  <strong>詳細:</strong>
  <%= @inquiry.details %>
</p>
